.main {
  display: grid;
  grid-template-areas:
    "header header"
    "left-bar content";
  height: 100vh;
  grid-template-rows: 78px 1fr;
  grid-template-columns: 350px 1fr;
  background-color: var(--bg-base);
}

.content {
  grid-area: content;
  padding: 16px;
}

.header {
  grid-area: header;
  border-bottom: var(--border-default);
  background-color: var(--bg-main);
}

.left-bar {
  grid-area: left-bar;
  background-color: var(--bg-main);
  border-right: var(--border-default);
  padding: var(--inner-pd);
}

.title {
  margin: 0;
}
